<p-toolbar>
    <p-image
        src="assets/img/logo-mesasila.jpg"
        alt="Mesasila Logo"
        width="250"
    ></p-image>
    <p-divider layout="vertical"></p-divider>
    <div class="iconos">
        <i
            (click)="visualizarFormulario = !visualizarFormulario"
            class="pi pi-user"
        ></i>
        <!-- <div class="separator"></div> -->
        <i class="pi pi-sign-in"></i>
    </div>
</p-toolbar>
<div class="formulario">
    <form
        *ngIf="visualizarFormulario"
        [formGroup]="formulario"
        (ngSubmit)="onSubmit()"
    >
        <span class="p-input">
            <input
                type="text"
                formControlName="email"
                placeholder="Email"
                pInputText
            />
        </span>
        <span class="p-input">
            <input
                type="password"
                formControlName="password"
                placeholder="Contraseña"
                pInputText
            />
        </span>
        <div class="botones">
            <div class="boton-acceder">
                <p-button
                    type="submit"
                    (onClick)="onSubmit()"
                    label="Acceder"
                ></p-button>
            </div>
            <div class="boton-registrarse">
                <p-button
                    (onClick)="onRegistrarse()"
                    label="Registrarse"
                ></p-button>
            </div>
        </div>
    </form>
</div>

<!-- [(ngModel)]="psw" -->
<!-- [(ngModel)]="email" -->
<!-- <input type="password" pInputText [(ngModel)]="email" /> -->

<!-- Psw: {{ psw }} Email:{{ email }} -->
<!-- <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
  </div>
  <button type="submit">Acceder</button>
  <button type="button" [routerLink]="'/home'">Registrarse</button>
</form> -->